* {
  margin: 0;
  padding: 0;
}

body{
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url(./img/star05.png), #111111;
  color: #eee;
  height: 100%;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 100%;
  -webkit-animation: scroll 70s linear infinite;
}

@keyframes scroll {
  100%{
   background-position:0px -3000px;
 }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}


.general {
  background-color: #9a27f7;
  margin: 0 auto;
}

.container-top {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.container-buttons-top {
  border: 2px solid #000000;
  padding: 1%;
}

#puntaje {
  color: #fdfafa;
  font-size: 30px;
  padding: 1%;
}

.titleGeneral {
  position: relative;
  font-size: 70px;
  color: #ffffff;
  font-family: 'VT323', monospace;
  text-shadow: 3px -3px 2px #000000;
}

.title {
  position:relative;
  font-size: 30px;
  color:#fff;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  color: #fff;
  background-color: #f3496e;
  border-radius: 0.20rem;
  padding: 6px 12px;
  -webkit-border-radius: 0.20rem;
  -moz-border-radius: 0.20rem;
  -ms-border-radius: 0.20rem;
  -o-border-radius: 0.20rem;
  transition: color .15s;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -ms-transition: color .15s;
  -o-transition: color .15s;
}
.btn-warning{
  color:#fff;
  background-color: #611bbd;
  border-color: #130269;
}

footer {
  padding: 2% 0 1% 0;
  margin-top: 10px;
  text-align: center;
  color:#fff;
  font-family: 'VT323', monospace;
}

.canvasScene {
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  border: 5px solid #a44cc3;
}

.presentation-content {
  text-align: center;
}

@media (max-width: 768px) {
  .canvasScene {
    width: 100%;
  }
  .titleGeneral {
    font-size: 20px;
  }
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 20px !important;
  color: red;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.swal2-popup {
  margin: 0 auto;
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: 0.3125em;
  background: #16143b;
  font-family: inherit;
  font-size: 1rem;
}

h1.title {
  font-size: 100%;
  color: #ff00de;
  justify-content: space-around;
}

img {
  width: 10%;
}

strong.title {
  color: #008f70;
}

.list-group-item {
  margin: 0 auto;
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: #fff;
  text-decoration: none;
}

.list-group-item.title {
  background-color: transparent;
  border: transparent;
  color: rgb(229, 255, 0);
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: none;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #000000;
    color: #fff;
    font-size: 1.0625em;
}